body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #041e42;
    border: 20px solid #ffc72c;
    box-sizing: border-box;
    position: relative;
}
.button-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Take full height of the remaining space */
}
.button-container button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer; /* Placeholder for now */
}
h1 {
    color: white;
    margin-top: 10px;
    position: absolute;
    top: 10px; /* Position the header 10px below the top border */
}

.float-right {
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
}

.reset-button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.keyboard-container {
    position: absolute;
    bottom: 50px; 
    left: 50%;
    transform: translateX(-50%);
}

.word-spotlight {
    position: absolute;
    bottom: 100px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    color: white;
}

.hangman-pic {
    position: relative;
    top: 0px; /* Adjust this value to change the vertical position */
    left: -25%;
    transform: translate(25%, 0); /* Adjust the first value to change horizontal justification */
}

.teacher-pic {
    position: relative;
    top: 150px; 
    left: 50%;
    width: auto;
    height: auto;
    transform: translate(-80%, 0);
}

.message {
    color: white;
    font-size: 24px;
    text-align: center;
}

#game-title {
    color: white;
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
}